.env
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
application/sessions/*
!application/sessions/index.html
uploads/payments/*
!uploads/payments/index.html
!uploads/payments/.htaccess
uploads/expenses/*
!uploads/expenses/index.html
!uploads/expenses/.htaccess
uploads/transfers/*
!uploads/transfers/index.html
!uploads/transfers/.htaccess
uploads/debts/*
!uploads/debts/index.html
!uploads/debts/.htaccess
.DS_Store
/vendor/
work/
